*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}
body{
  height:453px;
  overflow: hidden;
   min-height:100%; 
  }
.container{
    display: flex;
    /* background-color: rgb(55, 231, 202); */
    /* background-color: rgb(255, 235, 52); */
    background-color: rgb(55, 83, 211);
}
.container img{
    width: 100px;
    height: 100px;  
    margin: 4px 10px;
}
.container h1{
    margin: auto;
    font-size: 50px;
    /* text-shadow: 3.5px 0 rgb(136, 136, 255) ; */
    /* background-color: rgb(241, 248, 144); */
        text-shadow: 3.5px 0 rgb(216, 80, 80) ;
}
.navigation nav{

 
}
.navigation nav ul{
  /* background:  rgb(195, 240, 248); */
  background-color: rgb(20, 139, 84);
  display: flex;
padding: 10px;
}
.navigation nav ul li{
    list-style: none;
    
  }
  .navigation nav ul li a{
    list-style: none;
    text-decoration: none;
    font-size: 25px;
   padding: 5px 3px;
   color: black;
    margin: 14px 15px;

  }
  .navigation nav ul li a:hover{
   cursor: pointer;
   color: rgb(255, 255, 255);
   transition: 0.6s ease;
   border-radius: 3px;
   background-color: rgb(77, 21, 21);
  }
form{
   background-color: rgb(124, 78, 98);
  height: 100%;
  width: 100%;
    /* background-color: rgb(125, 180, 70)    ; */
}
  .formm h2{
text-align: center;
font-size: 2.1rem;
color: rgb(235, 17, 17);
  }

  .reg-detail {
      border: 3px solid black;
      /* text-align: center; */
      margin: auto;
      width: 70%;
      border-radius: 6px;
       background-color: rgb(154, 230, 79)    ;
      /* background-color: rgb(192, 247, 138); */
  }
  .reg-detail input{
      border: 3px solid blue;
      font-size: large;
      border-radius: 4px;
      width: 69%;
      padding: 5px 4px;
      margin: 10px 55px;
      background-color: rgb(176, 201, 238);
  }
  .reg-detail label{
      margin: 19px;
      font-size: 1.1rem;
  }
  .regbtn{
     text-align: center;
     padding: 5px;
  }
  .regbtn button{
      font-size: 1.3rem;
      border: 3px solid rgb(16, 36, 36);
      border-radius: 4px;
      color: rgb(150, 3, 137);
      padding: 6px 4px;
      background-color: rgb(154, 230, 79);
      /* background-color: rgb(192, 247, 138); */

  
  }
  .regbtn button:hover{
    border-radius: 3px;
    background-color: rgb(252, 125, 125);
   cursor: pointer;
   color: rgb(255, 255, 255);
    transition: 0.6s ease;
    
}

footer{
  text-align: center;
  /* padding: 1px; */
  background-color: rgb(252, 125, 125);
  /* background-color: rgb(243, 168, 144); */
  color: white;
}
footer p{

  padding:  7px;

}


  ​ 